#settings_saved_message, #profile_picture_upload_buttons_container, #crop_button, #cancel_crop_button, #profile_picture_crop_preview {
  display: none; }

#profile_picture_upload_preview {
  text-align: center; }

#current_profile_picture_button_container {
  margin-top: 8px; }

#delete_picture_profile_button, #crop_button, #cancel_crop_button {
  float: left; }

#crop_button, #cancel_crop_button {
  margin-left: 5px; }

#settings_page_profile_picture, #profile_picture_crop_preview {
  float: left; }

.jcrop-holder {
  float: left; }

#settings_tabs .tab-content {
  margin-top: 15px; }
