#splash {
  height: 383px;
  background: #080808 url("../../images/splash.png") no-repeat 50%;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC; }

#start_here_button {
  display: block;
  width: 258px;
  height: 76px;
  background: url("../../images/home/index/sign_me_up_button.png") no-repeat;
  margin: 230px auto 0; }

#index_content {
  padding-bottom: 60px; }

#steps_container {
  top: 35px;
  position: relative;
  width: 980px;
  height: 1300px;
  margin: 0 auto; }

#steps_container .steps-item {
  position: absolute; }

.steps-item .heading {
  text-transform: uppercase;
  color: #3D3D3D;
  font-family: 'Questrial';
  font-size: 1.4em; }

.steps-item .heading .number {
  color: #a37e2c; }

.steps-item p {
  font-family: "Times New Roman";
  color: #84949F;
  line-height: 32px; }

#steps_middle_bar {
  top: 100px;
  left: 486.5px;
  width: 7px;
  height: 930px;
  background: #F7F7F7;
  z-index: 2; }

#circle_start {
  width: 110px;
  left: 435px;
  z-index: 3; }

#step_1_image {
  top: 95px;
  left: 106px; }

#step_1_text {
  top: 150px;
  left: 520px;
  width: 400px; }

#step_2_text {
  top: 450px;
  left: 6px;
  width: 450px;
  text-align: right; }

#step_2_image {
  top: 380px;
  left: 560px; }

#step_3_image {
  top: 675px;
  left: 106px; }

#step_3_text {
  top: 720px;
  left: 520px;
  width: 400px; }

#start_here {
  top: 1020px;
  left: 167.5px;
  width: 645px;
  height: 98px;
  background: url(../../images/home/index/start_here.png) 50% no-repeat;
  z-index: 1;
  padding-top: 115px;
  text-align: center; }

#start_here .heading {
  display: block;
  margin-bottom: 10px;
  color: #a37e2c; }

#about_container {
  width: 100%;
  height: 501px;
  background: url(../../images/home/index/about_bg.png); }

#emblem {
  margin: 0 auto;
  width: 277px;
  height: 229px;
  background: url("../../images/home/index/emblem.png") no-repeat 0 70px; }

#newsletter_container, #newsletter_submitted {
  margin: 0 auto;
  padding-top: 15px;
  width: 600px;
  text-align: center;
  height: 501px; }

#newsletter_container h3 {
  color: #a37e2c;
  text-transform: uppercase;
  font-family: 'Questrial';
  font-size: 1.6em;
  letter-spacing: 1px;
  margin-top: 0; }

#newsletter_form {
  min-height: 200px;
  width: 400px;
  margin: 30px auto 0; }

#newsletter_email_container {
  margin-bottom: 20px; }

#newsletter_info, #sign_up_description {
  font-family: 'Times New Roman';
  color: #FFF;
  margin: 0 auto; }

#newsletter_info {
  width: 480px; }

#sign_up_description {
  font-size: .9em;
  text-shadow: 0px 2px 0 rgba(255, 255, 255, 0.2); }

#newsletter_email:focus, #newsletter_email_button:focus {
  outline: 0;
  outline-color: transparent;
  outline-style: none; }

#newsletter_email {
  width: 365px;
  height: 40px;
  background: white url("../../images/home/index/newsletter_email_button_bg.gif");
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  color: #777;
  border-top-color: #79797B;
  border-left-color: #79797B; }

#newsletter_email[disabled] {
  cursor: default; }

#newsletter_email_button {
  color: #895A17;
  height: 40px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  font-family: 'Questrial';
  font-size: 1.5em;
  border-top-color: #ADADAE;
  border-left-color: #adadae; }

#newsletter_email_button[disabled] {
  opacity: .9; }

#newsletter_submit {
  display: none;
  margin: 0 auto 0 170px; }

#newsletter_submitted {
  display: none;
  margin-top: 45px;
  color: #AAA;
  font-size: 1.4em;
  font-family: 'Questrial'; }
