$color_gold: #A37E2C;

$steps_container_width: 980px;
$steps_middle_bar_width: 7px;
$steps_middle_bar_height: 930px;
$circle_start_width: 110px;
$steps_1_image_width: 294px;
$steps_3_image_width: 294px;
$start_here_width: 645px;
$i_want_to_pre_register_container_width: 600px;
$i_want_to_pre_register_width: 327px;

#splash
{
	height: 383px;
	background: #080808 url('../../images/splash.png') no-repeat 50%;
	//background-size: 100% 381px;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}


#start_here_button
{
	display: block;
	width: 258px;
	height: 76px;
	background: url('../../images/home/index/sign_me_up_button.png') no-repeat;
	margin: 230px auto 0;
}

#i_want_to_pre_register_container
{
	position: relative;
	width: $i_want_to_pre_register_container_width;
	margin: 240px auto;
}

#newsletter_form
{
	width: auto;
	opacity: 0;
	position: absolute;
	top: 2px;
	left: 2px;
	margin-left: 70px;
}

#i_want_to_pre_register
{
	position: relative;
	display: block;
	width: $i_want_to_pre_register_width;
	height: 48px;
	margin: 0 auto;
	background: url(../../images/home/index/i_want_to_pre_register.png) no-repeat;
	z-index: 100;
	cursor: text;
	/*opacity: 0;
	-ms-filter: alpha(opacity=0);
	filter: alpha(opacity=0);*/
}

#i_want_to_pre_register .placeholder {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -183px;
	z-index: 1;
	display: inline-block;
	width: 300px;
	padding: 8px 12px 9px;
	color: #ccc;
	font-size: 18px;
	text-align: left;
	opacity: 0;
	-ms-filter: alpha(opacity=0);
	filter: alpha(opacity=0);
	cursor: text;
}
#i_want_to_pre_register form { height: 39px }
#i_want_to_pre_register input {
	border: 0;
	color: #fff;
	-webkit-appearance: none;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
#i_want_to_pre_register input[type='email'] {
	position: absolute;
	top: 0;
	left: 50%;
	display: inline-block;
	opacity: 0;
	width: 78px;
	margin-left: -51px;
	padding: 8px 12px 9px;
	margin-right: -4px;
	font-size: 18px;
	background-color: #1c51c0;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 7px 5px -5px #1b50be,0 1px 0 #558cff;
	box-shadow: inset 0 7px 5px -5px #1b50be,0 1px 0 #558cff;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	outline: 0;
}
#i_want_to_pre_register input[type='submit'] {
	position: absolute;
	top: 0;
	left: 50%;
	opacity: 0;
	-ms-filter: alpha(opacity=0);
	filter: alpha(opacity=0);
	width: 1px;
	height: 39px;
	margin-left: 63px;
	padding: 0;
	text-indent: -1000em;
	-webkit-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
	background: #1c51c0 url(../../images/home/index/i_want_to_pre_register.png) right -20px no-repeat;
	-webkit-box-shadow: inset 0 7px 5px -5px #1b50be,0 1px 0 #558cff;
	box-shadow: inset 0 7px 5px -5px #1b50be,0 1px 0 #558cff;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}
#i_want_to_pre_register.open input[type='email'] {
	width: 300px!important;
	margin-left: -183px;
	color: #a7a7a7;
	background-color: #fff;
	-webkit-box-shadow: inset 0 7px 5px -5px #e1e8f5,0 1px 0 #558cff;
	box-shadow: inset 0 7px 5px -5px #e1e8f5,0 1px 0 #558cff;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
	-webkit-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
}
#i_want_to_pre_register.open input[type='submit'] {
	opacity: 1;
	-ms-filter: none;
	filter: none;
	width: 42px;
	margin-left: 141px;
	padding: 0 12px;
}

#index_content
{
	padding-bottom: 60px
}

#steps_container
{
	top: 35px;
	position: relative;
	width: $steps_container_width;
	height: 1300px;
	margin: 0 auto;
}

#steps_container .steps-item
{
	position: absolute;
}

.steps-item .heading
{
	display: block;
	text-transform: uppercase;
	color: #3D3D3D;
	font-family: 'Questrial';
	font-size: 1.4em;
	letter-spacing: 2px;
	margin-bottom: 5px;
}

.steps-item .heading .number
{
	color: $color_gold
}

.steps-item p
{
    font-family: "Times New Roman";
	color: #84949F;
	line-height: 32px;
}

#steps_middle_bar
{
	top: 100px;
	left: $steps_container_width / 2 - $steps_middle_bar_width + ($steps_middle_bar_width / 2);
	width: $steps_middle_bar_width;
	height: $steps_middle_bar_height;
	background: #F7F7F7;
	z-index: 2;
}

#circle_start
{
	width: $circle_start_width;
	left: $steps_container_width / 2 - $circle_start_width + ($circle_start_width / 2);
	z-index: 3;
}

// Step 1
#step_1_image
{
	top: 95px;
	left: $steps_container_width / 2 - ($steps_1_image_width + 90);
}

#step_1_text
{
	top: 150px;
	left: $steps_container_width / 2 + 30px;
	width: 400px;
}

// Step 2
#step_2_text
{
	top: 450px;
	left: $steps_container_width / 2 - ($steps_1_image_width + 190);
	width: 450px;
	text-align: right;
}

#step_2_image
{
	top: 380px;
	left: $steps_container_width / 2 + 70px;
}

// Step 3
#step_3_image
{
	top: 675px;
	left: $steps_container_width / 2 - ($steps_3_image_width + 90);
}

#step_3_text
{
	top: 720px;
	left: $steps_container_width / 2 + 30px;
	width: 400px;
}

// Start Here
#start_here
{
	top: $steps_middle_bar_height + 88;
	left: $steps_container_width / 2 - $start_here_width + ($start_here_width / 2);
	width: $start_here_width;
	height: 98px;
	background: url(../../images/home/index/start_here.png) 50% no-repeat;
	z-index: 1;
	padding-top: 115px;
	text-align: center;
}

#start_here .heading
{
	display: block;
	margin-bottom: 10px;
	color: $color_gold;
}

// About
#about_container
{
	width: 100%;
	height: 501px;
	background: url(../../images/home/index/about_bg.png);
}

// Emblem
#emblem
{
	margin: 0 auto;
	width: 277px;
	height: 229px;
	background: url('../../images/home/index/emblem.png') no-repeat 0 115px;
}

#newsletter_container, #newsletter_submitted
{
	margin: 0 auto;
	padding-top: 40px;
	width: 600px;
	text-align: center;
	height: 501px;
}

#newsletter_container h3
{
	color: $color_gold;
	text-transform: uppercase;
	font-family: 'Questrial';
	font-size: 1.6em;
	letter-spacing: 1px;
	margin-top: 0;
}

#newsletter_email_container
{
	margin-bottom: 20px;
}

#newsletter_email, #newsletter_email_button
{
	float: left
}

#newsletter_info, #sign_up_description
{
	font-family: 'Times New Roman';
	color: #FFF;
	margin: 0 auto;
}

#newsletter_info
{
	width: 480px;
}

#newsletter_submitted p
{
}

#sign_up_description
{
	font-size: .9em;
	text-shadow: 0px 2px 0 rgba(255, 255, 255, .2)
}

#newsletter_email:focus, #newsletter_email_button:focus
{
	outline: 0;
	outline-color: transparent;
	outline-style: none;
}

#newsletter_email
{
	width: 365px;
	height: 42px;
	background: #FFF url('../../images/home/index/newsletter_email_button_bg.gif');
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	color: #777;
	border: 1px solid;
	border-top-color: #79797B;
	border-left-color: #79797B;
	padding-left: 10px;
}

#newsletter_email[disabled]
{
	cursor: default
}

#newsletter_email_button
{
	width: 110px;
	height: 42px;
	background: url('../../images/home/index/newsletter_submit.png');
	border: none;

	/*color: #895A17;
	height: 40px;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	font-family: 'Questrial';
	font-size: 1.5em;
	border-top-color: #ADADAE;
	border-left-color: #ADADAE*/
}

#newsletter_email_button[disabled]
{
	//opacity: .9;
}

#newsletter_submit
{
	display: none;
	margin: 0 auto 0 170px
}

#newsletter_submitted
{
	display: none;
	margin-top: 200px;
	color: #AAA;
	font-size: 1.4em;
	font-family: 'Questrial';
}