#content p
{
	margin-bottom: 30px;
}

#splash
{
	height: 260px;
	background-color: #EEE;
	//background: #EEE url(../../images/layouts/front/splash.png) repeat-x;
	background: #EEE url(../../images/white_gray_pattern_bg.png) repeat;
}